*{
	padding: 0;
	margin: 0;
	list-style: none;
}
.container{
		width: 100%;
	  /*  height: 2500px;*/
		margin: 0 auto;
	   /* background-color: pink;*/
		/*最大宽度*/
		max-width: 640px;
		/*最小宽度*/
		min-width: 320px;
}
.h_top{
	height: 54px;
	width:100%;
	background-color:#fff;
	display: flex;
   /* position: fixed;*/
}
.h_left{
	flex: 1;
}
.h_left>img{
	width: 120px;
	height: 30px;
    margin-top: 10px;
  
}
.h_right{
	justify-content: flex-end;
	
}
.h_right>img{
	margin-top: 10px;
}
.h_wen{
	width: 100%;
	background-color: #32a3dd;
	margin-bottom:34px;
}
.h_wen ul{
	display: flex;
	flex-flow: row-reverse;
}
.h_wen ul li{
	justify-content: flex-end;
	height:59px;
	line-height: 59px;
	color: #FFFFFF;
	
}
.h_da{
	width: 100%;
	display: flex;
	position: relative;
}
.h_da img{
	width: 100%;
	height: 100%;
}
.h_da p{
	color: #fff;
	position: absolute;
	left: 10%;
	top: 30%;
	font-size: 1em;
	z-index: 999;
}
.h_da h5{
	display: inline-block;
	width: 20px;
	height: 2px;
	position: absolute;
	left: 10%;
	top: 50%;
	background-color: #FFFFFF;
	z-index: 999;
	font-size: 1em;
}
.h_da h4{
	position: absolute;
	left: 10%;
	top:60%;
	color: #fff;
	z-index: 999;
	font-size: 0.5em;
}
.h_zhongXin{
	width: 100%;
	margin-top:16px;
	background-color:#f8f8f8;
	border-bottom: 3px solid #35a3dd;
}
.h_zhongXin ul{
	display: flex;	
	justify-content: flex-start;
}
.h_zhongXin ul li{
  margin: 15px;
}
.h_zhongXin ul li:nth-child(1){
	color: #35a3dd;
	font-size: 15px;
	cursor: pointer;
}
.h_zhongXin ul li:nth-child(2){
	background-color: #35a3dd;
	width: 114px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 14px;
	border-radius: 18px 18px;
	cursor: pointer;
	
}
.h_zhongXin p{
	margin: 10px;
	color: #666;
	font-size: 14px;
}
.h_tianAn{
	width: 100%;
	margin-top:16px;
	background-color:#f8f8f8;
	border-bottom: 3px solid  #e49307;
	
}
.h_tianAn ul{
	display: flex;
	justify-content: flex-start;
}
.h_tianAn ul li{
	margin: 10px;
}
.h_tianAn ul li:nth-child(1){
	color: #e49307;
	font-size: 13px;
	cursor: pointer;
	
}
.h_tianAn ul li:nth-child(2){
	background-color: #e49307;
	width: 114px;
	text-align: center;
/*	line-height: 20px;*/
	color: #FFFFFF;
	font-size: 14px;
	border-radius: 18px 18px;
	cursor: pointer;
	
}
.h_tianAn p{
	margin: 15px;
	color: #666;
	font-size: 14px;
}
.h_rong{
	margin-top: 35px;
	width: 100%;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}
.h_rong ul{
	width: 100%;
	display: flex;
	justify-content:center;
}
.h_rong ul li{
	flex: 1;
/*	width: 202px;*/
	margin: 10px;
/*	background-color: yellow;*/
}
.h_rong ul li a{
	width: 100%;
	display: block;
}
.h_rong ul li a img{
	width: 100%;
	height: 100%;
}
.h_foot{
	width: 100%;
}
.h_foot .h_tian{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
.h_foot .h_tian img{
	text-align: center;
	width: 120px;
	height: 40px;
}
.h_tong{
	display: flex;
	justify-content: center;
	margin-top: 8px;
}
.h_tong p{
	text-align: center;
	font-size: 12px;
	color: #666;
}
.h_foot h6{
	text-align: center;
	color: #666;
	margin-top: 5px;
}
.h_foot .h_qq{
	text-align: center;
	display: flex;
	justify-content: center;
}

.h_foot .h_qq a{
	margin: 10px;
}
.h_foot b{
	display: block;
	text-align: center;

}
.h_foot h5{
	text-align: center;
	color: #666;
	font-size: 12px;
}
.h_footer{
	width: 100%;
	background-color: #f0efed;
}
.h_footer p{
	text-align: center;
	color: #ccc;
	font-size: 13px;
}

