*{
	padding: 0;
	margin: 0;
	list-style: none;
}
.container{
		width: 100%;
	  /*  height: 2500px;*/
		margin: 0 auto;
	   /* background-color: pink;*/
		/*最大宽度*/
		max-width: 640px;
		/*最小宽度*/
		min-width: 320px;
}
.h_top{
	height: 54px;
	width:100%;
	background-color:#fff;
	display: flex;
   /* position: fixed;*/
}
.h_left{
	flex: 1;
}
.h_left>img{
	width: 120px;
	height: 30px;
    margin-top: 10px;
  
}
.h_right{
	justify-content: flex-end;
	
}
.h_right>img{
	margin-top: 10px;
}
.h_wen{
	width: 100%;
	background-color: #32a3dd;
	margin-bottom:34px;
}
.h_wen ul{
	display: flex;
	flex-flow: row-reverse;
}
.h_wen ul li{
	justify-content: flex-end;
	height:59px;
	line-height: 59px;
	color: #FFFFFF;
	font-size: 14px;
	
}
.h_da{
	width: 100%;
	display: flex;
	position: relative;
}
.h_da img{
	width: 100%;
	height: 100%;
}
.h_da p{
	color: #fff;
	position: absolute;
	left: 10%;
	top: 30%;
	font-size: 1em;
	z-index: 999;
}
.h_da h5{
	display: inline-block;
	width: 20px;
	height: 2px;
	position: absolute;
	left: 10%;
	top: 50%;
	background-color: #FFFFFF;
	z-index: 999;
	font-size: 1em;
}
.h_da h4{
	position: absolute;
	left: 10%;
	top:60%;
	color: #fff;
	z-index: 999;
	font-size: 0.5em;
}
.h_rong_yu{
	width: 100%;
	margin-top: 30px;
}
.h_rong_yu ul{
	width: 100%;
	display: flex;
	/*flex-direction: row;
	flex-wrap: wrap;*/
	justify-content: space-around;
}
.h_rong_yu ul li{
	display: inline-block;
	flex: 1;
	margin: 10px;
	width:261px;
	/*height:175px;*/
	box-sizing: border-box;
	background-color: #f3f5f7;
}
.h_pic{
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #ccc;
	display: flex;
	flex-flow: row;
	justify-content: center;
}
.h_pic img{
	/*width: 100%;*/
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}
.h_jishu{
	width: 100%;
	
}
.h_jishu p{
	width: 100%;
	margin: 10px;
	color: #000;
	font-size: 15px;
}
.h_jishu span{
	display: inline-block;
	background-color: #35a3dd;
	width:80%;
	display: flex;
	justify-content: flex-end;
}
.h_jishu span a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	line-height: 20px;	
}
.h_rong_yu:nth-child(2){
	margin-top: 10px;
}
.h_tu_biao{
	width: 100%;
	padding-top: 20px;
}
.h_tu_biao ul{
	display: flex;
	justify-content: center;
	
}
.h_tu_biao ul li{
	display: inline-block;
	text-align: center;
	margin: 5px;	
}
.h_tu_biao ul a{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #666;
	text-decoration: none;
}
.h_tu_biao ul a:hover{
	border: 1px solid #0000FF;
	color: #0000FF;
}
.h_rong{
	margin-top: 35px;
	width: 100%;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}
.h_rong ul{
	width: 100%;
	display: flex;
	justify-content:center;
}
.h_rong ul li{
	flex: 1;
/*	width: 202px;*/
	margin: 10px;
/*	background-color: yellow;*/
}
.h_rong ul li a{
	width: 100%;
	display: block;
}
.h_rong ul li a img{
	width: 100%;
	height: 100%;
}
.h_foot{
	width: 100%;
}
.h_foot .h_tian{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
.h_foot .h_tian img{
	text-align: center;
	width: 120px;
	height: 40px;
}
.h_tong{
	display: flex;
	justify-content: center;
	margin-top: 8px;
}
.h_tong p{
	text-align: center;
	font-size: 12px;
	color: #666;
}
.h_foot h6{
	text-align: center;
	color: #666;
	margin-top: 5px;
}
.h_foot .h_qq{
	text-align: center;
	display: flex;
	justify-content: center;
}

.h_foot .h_qq a{
	margin: 10px;
}
.h_foot b{
	display: block;
	text-align: center;

}
.h_foot h5{
	text-align: center;
	color: #666;
	font-size: 12px;
}
.h_footer{
	width: 100%;
	background-color: #f0efed;
}
.h_footer p{
	text-align: center;
	color: #ccc;
	font-size: 13px;
}
